:root {
  --accent-white-thema: #4f2ee8;
  --accent-hover-dark-thema: #eac645;
  --text-color-dark-thema: #fff;
  --text-color-white-thema: #202024;
  --text-color-second: #B4AFAF;
  --second-black-color: #202024;
  --logo-text-color: #000000;

  --background-light-thema: #F6F6F6;
  --svg-in-card: #A7A7A7;
  --card-border-color: #4f2ee866;
  /* 6B6B6B */
}