:root {
  --accent-hover-white-thema: #4f2ee8;
  --accent-hover-dark-thema: #eac645;
  --text-color-dark-thema: #fff;
  --text-color-white-thema: #202024;
  --text-color-second: #B4AFAF;
  --second-black-color: #202024;
  --logo-text-color: #000000;

  /* 6B6B6B */
}