  .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;


  }

  .user-top {
    display: none;
  }


  .burger-btn-icon {
    height: 28px;
    width: 28px;
    stroke: var(--second-black-color)
  }

  .mobile-menu-content {
    position: relative;
    margin-top: 64px;
  }



  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border: 1.50px solid var(--logo-text-color);
    border-radius: 0 0 8px 8px;
    background-color: var(--text-color-dark-thema);
  }

  .switcher {
    height: 24px;
    width: 40px;
    padding: 0;
    border: none;
    background-color: teal;
    line-height: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .header-buttons-wrap {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  .logo-text {
    font-size: 20px;
    font-weight: 700;
    color: var(--logo-text-color);
  }

  .header-btn-shop-list {
    line-height: 0;
    border-color: transparent;
    text-transform: uppercase;
    border-radius: 36px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.04em;

  }

  .item-shop {
    display: flex;
    align-items: self-end;
    column-gap: 8px;
    /* cursor: pointer;
    background-color: var(--accent-hover-dark-thema);
    border-radius: 36px;
    padding: 7px 16px;
    width: 157px;
    height: 34px; */
  }

  .icon-shop-list {

    stroke: var(--text-color-white-thema);
  }

  .menu-item {
    cursor: pointer;
    border-radius: 36px;
    padding: 8px 16px;
    width: 72px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.04em;
  }

  .menu-item:hover {
    background-color: var(--accent-hover-dark-thema);
  }

  .menu-item-shop:hover {
    background-color: var(--accent-hover-dark-thema);
  }



  .menu-item-shop {
    display: flex;
    align-items: end;
    cursor: pointer;
    column-gap: 4px;
    border-radius: 36px;
    padding: 7px 16px;
  }


  .menu {
    display: none;
  }







  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 224px;
      text-transform: uppercase;


    }

    .navigation {
      display: flex;
      align-items: center;
      column-gap: 40px;
    }

    .burger-btn {
      display: none;
    }

    .user-top {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: var(--accent-white-thema);
      border-radius: 36px;
      width: 184px;
      height: 45px;
    }

    .user-name {
      margin-left: 9px;
      margin-right: 4px;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: -0.02em;
      color: var(--text-color-dark-thema);
    }

    .icon-arrow-down {
      fill: var(--text-color-dark-thema);
      height: 23px;
      width: 23px;
    }

    .menu-link {
      color: var(--text-color-white-thema);
    }


  }

  @media screen and (min-width: 1440px) {
    .navigation {
      column-gap: 76px;
    }
  }