.mobile-menu-backdrop {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 360px;
  background-image: url(/src/images/books-group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

}

.mobile-menu-logout-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  /* padding: 0; */
  padding: 14px 22px;
  border: 2px solid var(--text-color-white-thema);
  border-radius: 18px;
  background-color: var(--text-color-dark-thema);
  line-height: 0;
  width: 124px;
  height: 48px;

}

.mobile-menu-logout-icon {
  width: 20px;
  height: 20px;
}

.wrap-logout-btn-mobile-menu {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logout-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}



/* @media screen and (min-width: 376px) {
  .mobile-menu-logout-btn {
    display: none;
  }
} */