.mobile-menu-backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: absolute;
  bottom: 0px;
  width: 375px;
  height: 360px;
  background-image: url(/src/images/books-group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

}

.mobile-menu-logout-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  padding: 14px 22px;
  border: 2px solid var(--text-color-white-thema);
  border-radius: 18px;
  background-color: var(--text-color-dark-thema);
  line-height: 0;
  width: 124px;
  height: 48px;

}

.mobile-menu-logout-icon {
  width: 20px;
  height: 20px;
}

.wrap-logout-btn-mobile-menu {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logout-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}


.user-icon-and-name {
  display: flex;
  align-items: center;
  column-gap: 9px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: var(--text-color-dark-thema);
}

.user-icon {
  height: 37px;
  width: 37px;
}

.backdrop-nav {
  align-self: center;
}

.wrap-backdrop-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 210px;
}



.backdrop-home-link {
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background-color: var(--accent-hover-dark-thema);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.link-home {
  color: var(--text-color-white-thema);

}

.list-backdrop-links {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.link-shop-list {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color-dark-thema);
}

.icon-shop {
  fill: var(--text-color-dark-thema);
}

.item-shop-list {
  display: flex;
  align-items: end;
  column-gap: 4px;
}



/* @media screen and (min-width: 376px) {
  .mobile-menu-logout-btn {
    display: none;
  }
} */