<div class="mobile-menu-backdrop js-menu-container " id="mobile-menu">
  <div class="container mobile-menu-content">
    <div class="wrap-backdrop-nav">

      <div class="user-icon-and-name">
        <img src="/src/images/user-logo.png" alt="user-logo" class="user-icon">
        <p class="user-name">Stephen</p>
      </div>
      <nav class="backdrop-nav">
        <ul class="list list-backdrop-links ">
          <li class="backdrop-home-link"> <a class="link link-home " href="#">Home</a></li>
          <li class="item-shop-list"><a class="link link-shop-list" href="#">Shoping list</a>
            <svg class="icon-shop" width="20" height="20" aria-label="icon-shop-list">
              <use href="/src/images/icons/sprite.svg#icon-shop"></use>
            </svg>
          </li>
        </ul>
      </nav>

    </div>

  </div>

  <div class="mobile-menu  ">
    <button class="mobile-menu-logout-btn">
      <div class="wrap-logout-btn-mobile-menu">

        <p class="logout-p">Log out</p>
        <svg class="mobile-menu-logout-icon">
          <use href="/src/images/icons/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </button>
  </div>

</div>