<div class="mobile-menu-backdrop js-menu-container " id="mobile-menu">
  <div class="container mobile-menu-content">
    <div>
      <img src="" alt="">
      <p class="user-name">Stephen</p>
    </div>
    <nav>
      <ul class="list">
        <li> <a class="link" href="#">Home</a></li>
        <li><a class="link" href="#">Shoping list</a></li>
      </ul>
    </nav>


  </div>

  <div class="mobile-menu  ">
    <button class="mobile-menu-logout-btn">
      <div class="wrap-logout-btn-mobile-menu">

        <p class="logout-p">Log out</p>
        <svg class="mobile-menu-logout-icon">
          <use href="/src/images/icons/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </button>
  </div>

</div>