<section class="full-shop-list">
  <div class="container full-books-container">
    <h1 class=" title title-first-part title-wrap">Shopping <span class="title-second-part">List</span> </h1>

    <ul class="books-card-list list ">
      <li class="shop-item">
        <!-- <div> -->
        <img class="img-card-book" src="/src/images/book-card.png" alt="book">
        <!-- </div> -->
        <div class="card-content">
          <div class="titles-wrap">
            <h2 class="title-card-name">I will find you</h2>
            <h3 class="subtitle-card-name">Hardcover fiction</h3>
          </div>

          <p class="text-card-content">David Burroughs was once a devoted father to his three year old son Matthew,
            living a dream life just a
            short drive away.</p>
          <div class="auchtor-book">
            <p class="auchtor-name">Harlan Coben</p>
            <div class="book-seller">
              <img class="wrap-seller-icon" src="/src/images/amazon.png" alt="amazon-icon">
              <svg class="icon-book-card">
                <use href="/src/images/icons/sprite.svg#icon-book"></use>
              </svg>
            </div>
          </div>
        </div>

      </li>

    </ul>
    <nav class="pagination">
      <ul class="list pagination-list ">
        <div class="pagination-wrap-blocks">
          <li class="pagination-item">
            <a href="#prev">
              <svg class="pag-left-arrow">
                <use href="/src/images/icons/sprite.svg#icon-arr"> </use>
              </svg>
            </a>
          </li>
          <li class="pagination-item"><a href="#prev">
              <svg class="pag-left-arrow">
                <use href="/src/images/icons/sprite.svg#icon-logo"> </use>
              </svg>
            </a></a></li>

        </div>
        <div class="pagination-wrap-blocks">
          <li class="pagination-item"><a href="#1">1</a></li>
          <li class="pagination-item"><a href="#2">2</a></li>
          <li class="pagination-item"><a href="#3">...</a></li>
        </div>
        <div class="pagination-wrap-blocks">
          <li class="pagination-item"><a href="#next">»</a></li>
          <li class="pagination-item"><a href="#next">»</a></li>

        </div>

      </ul>
    </nav>
  </div>
</section>