<section class="full-shop-list">
  <div class="container full-books-container">
    <h1 class=" title title-first-part title-wrap">Shopping <span class="title-second-part">List</span> </h1>

    <ul class="books-card-list list ">
      <li class="shop-item">
        <!-- <div> -->
        <img class="img-card-book" src="/src/images/book-card.png" alt="book">
        <!-- </div> -->
        <div class="card-content">
          <div class="titles-wrap">
            <h2 class="title-card-name">I will find you</h2>
            <h3 class="subtitle-card-name">Hardcover fiction</h3>
          </div>

          <p class="text-card-content">David Burroughs was once a devoted father to his three year old son Matthew,
            living a dream life just a
            short drive away.</p>
          <div class="auchtor-book">
            <p class="auchtor-name">Harlan Coben</p>
            <div class="book-seller">
              <img class="wrap-seller-icon" src="/src/images/amazon.png" alt="amazon-icon">
              <svg class="icon-book-card">
                <use href="/src/images/icons/sprite-3.svg#icon-book"></use>
              </svg>
            </div>
          </div>
        </div>

      </li>

    </ul>
</section>