<header class="page-header" id="home" aria-label="page header">
  <div class="container page-header-container">
    <nav class="navigation">
      <a class="logo link" href="#">
        <svg class="logo-icon" width="24" height="24" aria-label="Bokkshelf logo">
          <use href="/src/images/icons/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Bookshelf</span>
      </a>
      <ul class="menu list">
        <li class="menu-item">
          <a class="menu-link link" href="#home">Home</a>
        </li>
        <li class="menu-item-shop">
          <a class="header-btn-shop-list link menu-link" href="#shopping-list">Shopping
            list</a>

          <svg class="icon-shop-list" width="20" height="20" aria-label="shopping list">
            <use href="/src/images/icons/sprite.svg#icon-shop"></use>
          </svg>
        </li>

      </ul>
    </nav>
    <div class="header-buttons-wrap">

      <!-- <button class="switcher" type="button"></button> -->
      <label class="switcher">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <button class="burger-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">


        <svg class="burger-btn-icon" aria-label="logout-btn-mobile-menu">
          <use href="/src/images/icons/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="user-top">
        <img src="/src/images/user-logo.png" alt="user-logo" class="user-icon">
        <p class="user-name">Stephen</p>

        <svg class="icon-arrow-down" aria-label="icon-arrow-down">
          <use href="/src/images/icons/sprite-2.svg#icon-caret-down"></use>
        </svg>
      </div>
    </div>
  </div>
</header>