<section class="section-bg section-categories">
  <div class="container home-page-wrap">
    <div class="categories-list-wrap">
      <h2 class="categories-title">All categories</h2>
      <ul class="categories-list list">
        <li class="categories-item">Combined Print and E-book Fiction</li>
        <li class="categories-item">Combined Print & E-book Nonfiction</li>
        <li class="categories-item">Hardcover fiction</li>
        <li class="categories-item">Hardcover nonfiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
        <li class="categories-item">Paperback trade fiction</li>
      </ul>
    </div>
    <div class="best-sellers">
      <h2 class="poster-title">Best Sellers <span class="poster-accent-title">Books</span></h2>
      <p class="poster-genre">COMBINED PRINT & E-BOOK NONFICTION</p>
      <ul class=" posters-gallery list">
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster.png" alt="poster">
          <h3 class="poster-name">I will find you</h3>
          <h4 class="poster-author">Harlan Coben</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster-2.png" alt="poster">
          <h3 class="poster-name">HELLO BEAUTIFUL</h3>
          <h4 class="poster-author">Ann Napolitano</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster-3.png" alt="poster">
          <h3 class="poster-name">IT STARTS WITH US</h3>
          <h4 class="poster-author">Colleen Hoover</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster-3.png" alt="poster">
          <h3 class="poster-name">IT STARTS WITH US</h3>
          <h4 class="poster-author">Colleen Hoover</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster-3.png" alt="poster">
          <h3 class="poster-name">IT STARTS WITH US</h3>
          <h4 class="poster-author">Colleen Hoover</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
        <li class="best-seller-item-card">
          <img class="best-poster-img" src="/src/images/poster-3.png" alt="poster">
          <h3 class="poster-name">IT STARTS WITH US</h3>
          <h4 class="poster-author">Colleen Hoover</h4>
          <button class="poster-see-more-btn poster-item-btn" type="button">see more</button>
        </li>
      </ul>
      <button class="poster-see-more-btn poster-collection-btn " type="button">see more</button>

    </div>
  </div>
</section>