<section class=" section-register-page">
  <div class="container register-container">

    <div class="wrap-fom-register">
      <form class="register-form" action="#" method="POST">
        <label class="form-label" for="username">Name:</label>
        <input class="form-input" type="text" id="username" name="username" required>

        <label class="form-label" for="email">Email:</label>
        <input class="form-input" type="email" id="email" name="email" required>

        <label class="form-label" for="password">Password:</label>
        <input class="form-input" type="password" id="password" name="password" required>
        <label class="form-label" for="password">Repeat password:</label>
        <input class="form-input" type="password" id="password" name="password" required>

        <button class="form-btn-signup" type="submit">Go</button>
        <div>
          <div class="buttons-signs">
            <button class="btn-sign" type="button">Sign up</button>
            <button class="btn-sign" type="button">Sign in</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>